---
title: Demo AR.js
---

--
<%= link_to 'Sample 1', '/sample1.html'%> https://jeromeetienne.github.io/AR.js/three.js/examples/mobile-performance.html Not working
<br>
--
<%= link_to 'Sample 2', '/sample2.html'%>
https://medium.com/arjs/how-to-create-your-own-marker-44becbec1105
<br>
--
<%= link_to 'Sample 3', '/sample3.html'%>
https://stackoverflow.com/questions/47000523/a-frame-ar-js-marker-pattern-not-working
--
<br>
--
<%= link_to 'Sample 4', '/sample4.html'%> <b>Not working</b>
<br>
--
<%= link_to 'Sample 5', '/sample5.html'%> <b>Bar Code with static data</b>
<ol>
  <li>https://github.com/artoolkit/artoolkit5/blob/master/doc/patterns/Matrix%20code%203x3%20(72dpi)/5.png</li>
  <li>https://github.com/artoolkit/artoolkit5/blob/master/doc/patterns/Matrix%20code%203x3%20(72dpi)/6.png</li>
  <li>https://github.com/artoolkit/artoolkit5/blob/master/doc/patterns/Matrix%20code%203x3%20(72dpi)/7.png</li>
  <li>https://github.com/artoolkit/artoolkit5/blob/master/doc/patterns/Multi%20pattern%204x3%20(A4).pdf</li>
</ol>
<br>
--
<%= link_to 'Sample 6', '/sample6.html'%> <b>Bar Code with dynamic</b>
<br>
--
<%= link_to 'Sample 7', '/sample7.html'%> <b>QR Code with AR</b>
<br>
--
<%= link_to 'Sample 8', '/sample8.html'%> <b>jsartoolkit5</b>


--
Ref
https://medium.com/arjs/ar-code-a-fast-path-to-augmented-reality-60e51be3cbdf